.Polaris-Navigation__ListItem {
  margin: 10px;
}

.Polaris-Navigation__ItemWrapper div {
  background-color: transparent;
}

.Polaris-TopBar {
  background-color: #f8f4f4;
}

.replibot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 50px);
  background-color: #f0f0f0;
}
